extends ../layouts/default

block head
	script(src='js/lib/masonry.min.js')
	script(src='js/lib/imagesloaded.min.js')
	
block content
	.container
		h1 container
		if galleries.length
			#container
			each gallery in galleries
					each image in gallery.images
						img.item(src=image.limit(800, 800))
		else
			h3.text-muted There are no image galleries yet.
